<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>

    <title>Gopher Graphics</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="bg-slate-50 flex justify-center">
    <div class="w-11/12 max-w-3xl flex flex-col mt-40 mb-40 gap-4">
        <div class="bg-rose-300 p-3.5 flex flex-col gap-5">
        {% block header %}
            <a class="hover:underline active:underline-offset-2" href="/">
                <h1 class="font-light text-slate-900 text-5xl">Gopher Graphics</h1>
            </a>
            <div class="flex flex-row gap-5 justify-between w-fit flex-wrap">
                {% set home_section = get_section(path = "_index.md" ) %}
                {% for page in home_section.pages %}
                    {% if page.title %}
                    <a class="hover:underline active:underline-offset-2 font-light text-slate-900" href="{{ page.permalink | safe}}">{{ page.slug }}</a>
                    {% endif %}
                {% endfor %}
                {% for subsection_path in home_section.subsections %}
                    {% set subsection = get_section(path = subsection_path) %}
                    {% if subsection.title %}
                    <a class="hover:underline active:underline-offset-2 font-light text-slate-900" href="{{ subsection.permalink | safe}}">{{ subsection.components | last }}</a>
                    {% endif %}
                {% endfor %}
		<a href="/github">
			<img class="h-[1.5em]" src="/images/github-logo.svg"/>
		</a>
            </div>
        {% endblock header%}
        </div>
        {% block content %} {% endblock content %}
    </div>
</body>

</html>
